body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
    color:#000;
}

:root{
    --tema:#224e4f;
}

.menu-lateral{
    display: none;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    background-color:rgb(255, 255, 255);
    align-items: center;
    font-size: 22px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.ul-item{
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul.ul-item{
    justify-content: space-between;
}

.ul-item a{
    margin:0 70px 0 70px ;
    color:var(--tema);
    text-decoration: none;
}

.active{
    border-bottom: solid var(--tema);
}

.ul-item a:hover{
    border-bottom: solid var(--tema);
}

img{
    width: 190px;
}
.imagen{
    filter:drop-shadow( 0px 4px 0.5px #000000);
}

.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:110px 0 0 0;
    height: 75vh;
    background-image:linear-gradient(to top,rgba(28, 75, 75, 0.7),rgba(8, 9, 10, 0.7)), url(galeria/imagen3.webp);
    background-size: cover;
    background-position: bottom ;
    background-attachment: fixed;
    border-bottom: solid #3da3a5 9px;

}

.titulos-container{
    font-size: 26px;
    color:#f6f6f7;
    text-align: center;
}

.tituloMini{
    padding-top: 30px;
    font-size: 18px;
}

.titulos-container h2{
    margin:0
}

.titulos-container h1{
    margin:0 0 50px 0
}

.consultaYa{
    text-decoration: none;
    color:#000;
    border:solid #fff;
    border-radius: 50px;
    padding: 17px;
    transition-duration: 0.5s;
    background-color: #fff;
}

.consultaYa:hover{
    font-size: 30px;
}

.body-item{
    margin:30px 0 30px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:90px;
}

.item{
    width: 300px;
    transition-duration: 0.5s;
}

.item:hover{
    transform: scale(1.1);
}


.icon{
    width: 50px;
    height: 50px;
    color:var(--tema)
}

.nosotros-container{
    background-color: #224e4f;
    color:#fff;
    display: grid;
    grid-template-areas: 
    "texto fotos";
    grid-template-columns: 1fr 1fr;
    padding: 50px 80px 50px 80px;
    align-items: center;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    border-bottom: solid #2a7a7b 30px;
}

.tituloBonfili{
    border-bottom:solid #fff;
}

.grid-container1{
    grid-area: texto;
}

.grid-container2{
    grid-area: fotos;
    display: flex;
    justify-content: center; 
}

.fotoAuto{
    width: 100%;
    border-radius: 20px;
    padding-left: 10px;
}

.iconWhatsapp{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right:30px;
    color:#07f532;
    filter:drop-shadow( 0 0 1px #07f532);
    transition-duration: 0.5s;
    z-index: 100;
}

.iconWhatsapp:hover{
    filter:drop-shadow( 0 0 4px #07f532);
}

.mensajeWhatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1px 0 1px 0;
}

.tituloMensajeWhatsapp{
    text-align: center;
    font-size: 12px;
    color:#2a7a7b;
}

.tituloMensajeWhatsapp:hover{
    color:var(--tema)
}

.mensajeWhatsapp-a{
    text-decoration: none;
    transition-duration: 0.5s;
}

.mensajeWhatsapp-a:hover{
    transform: scale(1.1)
}

.porqueElegirnos-container{
    background-color: #2a7a7b;
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
    display: grid;
    color:#fff;
    grid-template-areas:
    "imgElegirnos tituloElegirnos"
    "imgElegirnos textoElegirnos"
    "imgElegirnos botonServicios";
    grid-template-columns: 1fr 1fr;
    padding: 50px 80px 50px 80px;
    align-items: center;
    border-top:solid var(--tema) 30px;
    border-bottom: solid var(--tema) 30px;
}

.porqueElegirnosTitulo{
    grid-area: tituloElegirnos;
    border-bottom: solid #fff;
}

.porqueElegirnosTexto{
    grid-area: textoElegirnos;
}

.botonServicios{
    grid-area: botonServicios;
    padding:20px 0 20px 0 ;
}

.botonServicio{
    text-decoration: none;
    color:#3da3a5;
    border:solid #fff;
    padding: 10px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 15px;
    transition-duration: 0.5s;
}

a.botonServicio:hover{
    font-size: 17px;
    box-shadow: 0 0 10px #fff;
}

.imgElegirnos{
    grid-area: imgElegirnos;
    width: 80%;
}

.imgElegirno{
    width: 120%;
    border-radius: 20px;
}

.mensajeDos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1px 0 8px 0;
    text-decoration: none;
}

.tituloMensajeDos{
    text-align: center;
    font-size: 12px;
    color:#2a7a7b;
}

.tituloMensajeDos:hover{
    color:var(--tema)
}

.mensajeDos-a{
    text-decoration: none;
    transition-duration: 0.5s;
}

.mensajeDos-a:hover{
    transform: scale(1.1);
}

.footer-container{
    padding:30px;
    display: grid;
    background-color: #ffffff;
    grid-template-areas:
    "gridArea1 gridArea2";
    grid-template-columns: 1fr 1fr;
    gap:20px
}

.grid-area1{
    grid-area: gridArea1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgLogo2{
    width: 100%;
}

.sloganLogo2 h3{
    margin:0;
    color: var(--tema);
    text-align: center;
}

.subtituloSlogan{
    font-size: 15px;
}

.grid-area2{
    grid-area: gridArea2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap:26px;
    margin-left:20%;
    color:var(--tema)
}

.iconNum{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.iconNum h3{
    margin:0
}

.iconEmail{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.email-a{
    display: flex;
    text-decoration: none;
    color:var(--tema)
}

.iconEmail h3{
    margin:0
}

.iconLinkedin{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.linkedin-a{
    display: flex;
    text-decoration: none;
    color:var(--tema);
}

.iconLinkedin h3{
    margin:0
}

.iconLocation{
    display: flex;
    align-items:center;
    font-size: 14px;
}

.iconLocation h3{
    margin:0
}

.iconsTelefono{
    padding-right: 8px;
    height: 25px;
    width: 25px;
}

.iconsEmail{
    padding-right: 8px;
    height: 25px;
    width: 25px;
}

.iconsLinkedin{
    padding-right: 8px;
    height: 25px;
    width: 25px;
}

.iconsLocation{
    padding-right: 8px;
    height: 25px;
    width: 25px;
}

.footerBottom{
    display: flex;
    justify-content: center;
    font-size: 14px;
    background-color: var(--tema);
    color:#6ca5a5;
    padding: 10px;

}

.footerBottom h3{
    margin:0
}

/*--------------------------------------------------------*/
.formulario-container{
    padding-top: 80px;
}

.formulario-item{
    display: grid;
    grid-template-areas:
    "textoForm formulario";
    grid-template-columns: 1fr 1fr;
    background-image:linear-gradient(to top,rgba(70, 108, 108, 0.7),rgba(28, 75, 75, 0.7)),url(galeria/imagen4.webp);
    background-size: cover;
    padding: 30px 0 30px 0;
}

.textoFormulario{
    grid-area:textoForm ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
    text-align: center;
}

.textoFormulario h1{
    margin:0;
    font-size:60px
}

.textoFormulario h2{
    margin:0;
    font-size: 30px;
    padding-bottom: 40px;
}

.a-contacto{
    height: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    background-color:#3ec0c2;
    color:#fff;
    font-size: 18px;
    transition-duration: 0.5s;
}

.a-contacto:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px #fff;
}

.inputs{
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    margin-right: 50px;
}

.inputs-item{
    background-color: var(--tema);
    padding: 30px;
    border-radius: 20px;
}

#nombre{
    width: 350px;
    height: 30px;
    margin-bottom:20px ;
    border-radius: 7px;
    border:none;
}

#numeros{
    width: 350px;
    height: 30px;
    margin-bottom:20px ;
    border-radius: 7px;
    border:none;
}

#email{
    width: 350px;
    height: 30px;
    margin-bottom:20px ;
    border-radius: 7px;
    border:none;
}

#mensaje{
    width: 350px;
    height: 90px;
    margin-bottom:20px ;
    border-radius: 7px;
    border:none;
    resize: none;
}

#enviar{
    height: 35px;
    width: 150px;
    border:none;
    border-radius: 20px;
    cursor:pointer;
    background-color:#fff;
    font-size: 16px;
}

#enviar:active{
    transform: scale(1.1);
}

label{
    display: flex;
}
/*------------------------------------------------*/
.servicios-container{
    padding-top:82px ;
    background-color: #3ec0c2;
}

.headerServicios{
    background-color: var(--tema);
    color:#fff;
    clip-path: polygon(0 1%, 100% 8%, 100% 100%, 0 92%);
}

.tituloServicios{
    font-size: 20px;
    text-align: center;
    padding: 80px 0 80px 0;
}

.tituloServicios h1{
    margin:0
}

.tiposServicios-container{
    display: grid;
    grid-template-areas:
    "asesoramiento pedro"
    "pedros acuerdos"
    "mediacion pedross"
    "pedroos procesoJudicial";
    grid-template-columns: 1fr 1fr;
    color:#fff;
    background-image:linear-gradient(to top,rgba(66, 123, 123, 0.7),rgba(28, 75, 75, 0.7)),url(galeria/imagen5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    padding-top: 40px;
    clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 100%);
    
}

.servicios-asesoramiento{
    font-size:19px;
    padding: 20px;
    background-color:var(--tema);
    text-align: center;
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
}

.servicios-asesoramiento p{
    margin:0;
    padding: 20px;
}

.contorno1{
    grid-area: asesoramiento;
    background-color:#3ec0c2;
    padding: 6px 6px 6px 0;
    margin-bottom: 50px;
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
}

.contorno2{
    grid-area: acuerdos;
    background-color: #3ec0c2;
    margin-bottom: 50px;
    padding: 6px 0 6px 6px;
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
}

.contorno3{
    grid-area: mediacion;
    background-color: #3ec0c2;
    margin-bottom: 50px;
    padding: 6px 6px 6px 0;
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
}

.contorno4{
    grid-area:procesoJudicial;
    background-color: #3ec0c2;
    margin-bottom: 50px;
    padding: 6px 0 6px 6px;
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
}

.servicios-asesoramiento h2{
    margin:0;
}

.servicios-acuerdos{
    font-size:19px;
    text-align: center;
    padding: 20px 0 20px 50px;
    background-color: var(--tema);
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
}

.servicios-acuerdos p{
    margin:0;
    padding: 20px;
}

.servicios-acuerdos h2{
    margin:0;
}

.servicios-mediacion{
    text-align: center;
    font-size:19px;
    grid-area: mediacion;
    padding: 20px;
    background-color: var(--tema);
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
}

.servicios-mediacion h2{
    margin:0
}

.servicios-mediacion p{
    margin:0;
    padding: 20px;
}

.servicios-procesoJudicial{
    text-align: center;
    font-size:19px;
    grid-area: procesoJudicial;
    padding: 20px 0 20px 50px;
    background-color: var(--tema);
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
}

.servicios-procesoJudicial h2{
    margin:0
}

.servicios-procesoJudicial p{
    margin:0;
    padding: 20px;
}

.aprovechaBeneficio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1px 0 1px 0;
}

.titulo-aprovechaBeneficio{
    text-align: center;
    font-size: 17px;
    color:#2a7a7b;
}

.separacion{
    background-color: #3da3a5;
}

.titulo-descargarDoc{
    text-align: center;
    padding-top: 20px;
}

.descargarDoc-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#89e7e7;
    background-color: var(--tema);
    clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 81%);
}

.descargarDoc-item{
    display: flex;
    align-items: center;
    background-color: #3da3a5;
    padding: 10px;
    margin:10px 10px 50px;
    border-radius:10px;
    transition-duration:0.5s;
    text-shadow: 1px 1px 1px #000;
}

.descargarDoc-item:hover{
    transform:scale(1.1)
}

.descargarDoc-item:active{
    transform: scale(1.2);
}

.a-descargarDoc{
    display: flex;
    text-decoration: none;
    color:#fff;
}

.titulo-descargarDoc-item h3{
    margin:0
}

.icon-descargar{
    height: 24px;
    width: 24px;
    color:#fff;
    filter: drop-shadow(2px 2px 2px #000);
    padding-left: 20px;
}

/*--------------------------------------*/
.exito-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    color:#fff;
    background-image: linear-gradient(to top,rgba(78, 140, 140, 0.4),rgba(28, 75, 75, 0.4)),url(galeria/imagen6.webp);
    background-size: cover;
    background-position: center top;
    height: 80vh;
    text-shadow:2px 2px 2px var(--tema)
}

.iconExito{
    width: 100px;
    height: 100px;
    color:#fff;
    filter:drop-shadow(2px 3px 4px #000)
}

.aExito-container{
    margin-top:30px;
    transition-duration:0.5s;
    text-shadow: none;
}

.a-exito{
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    color:var(--tema);
    background-color: #fff;
    border-radius: 10px;
}

.aExito-container:hover{
    transform: scale(1.1);
}

.tiposServicios-container-responsive{
    display: none;
}




/*RESPONSIVE----------------------------------------*/
@media only screen and (max-width:1040px){

    .consultaYa{
        padding: 12px;
        font-size: 22px;
    }

    .titulos-container{
        font-size: 21px;
    }

    .tiposServicios-container{
        display: none;
    }

    .tiposServicios-container-responsive{
        display: flex;
        background-image:linear-gradient(to top,rgba(66, 123, 123, 0.7),rgba(28, 75, 75, 0.7)),url(galeria/imagen5.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        background-attachment: fixed;
        padding-top: 40px;
        flex-direction: column;
        color:#fff;
    }

    .servicios-asesoramiento-responsive{
        font-size:19px;
        padding: 20px;
        background-color:var(--tema);
        text-align: center;
        clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    }
    
    .servicios-asesoramiento-responsive p{
        margin:0;
        padding: 20px;
    }

    .servicios-asesoramiento-responsive h2{
        margin:0
    }

    .contorno1-responsive{
        background-color:#3ec0c2;
        padding: 6px 6px 6px 0;
        margin: 0 50px 50px 0;
        clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    }

    .contorno2-responsive{
        background-color: #3ec0c2;
        margin: 0 0 50px 50px;
        padding: 6px 0 6px 6px;
        clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
    }

    .contorno3-responsive{
        background-color:#3ec0c2;
        padding: 6px 6px 6px 0;
        margin: 0 50px 50px 0;
        clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    }

    .contorno4-responsive{
        background-color: #3ec0c2;
        margin: 0 0 50px 50px;
        padding: 6px 0 6px 6px;
        clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
    }

    .servicios-acuerdos-responsive{
        font-size:19px;
        text-align: center;
        padding: 20px 0 20px 50px;
        background-color: var(--tema);
        clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
    }
    
    .servicios-acuerdos-responsive p{
        margin:0;
        padding: 20px;
    }
    
    .servicios-acuerdos-responsive h2{
        margin:0;
    }

    .servicios-mediacion-responsive{
        font-size:19px;
        padding: 20px;
        background-color:var(--tema);
        text-align: center;
        clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    }

    .servicios-mediacion-responsive h2{
        margin:0
    }

    .servicios-mediacion-responsive p{
        margin:0;
        padding: 20px;
    }

    .servicios-procesoJudicial-responsive{
        font-size:19px;
        text-align: center;
        padding: 20px 0 20px 50px;
        background-color: var(--tema);
        clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
    }

    .servicios-procesoJudicial-responsive h2{
        margin:0
    }

    .servicios-procesoJudicial-responsive p{
        margin:0;
        padding: 20px;
    }
}
    

@media only screen and (max-width:960px){
    .quienesSomos p{
        font-size: 15px;
    }
}

@media only screen and (max-width:930px){
    .ul-item{
        font-size: 19px;
    }

    .titulos-container{
        font-size: 19px;
    }

    .consultaYa{
        font-size: 19px;
    }

    .nosotros-container{
        padding-right:20px ;
    }

    .porqueElegirnos-container{
        padding-left: 20px;
    }
    
}

@media only screen and (max-width:878px){
    .nosotros-container{
        grid-template-areas:
        "texto"
        "fotos";
        grid-template-columns: 1fr;
        padding-right: 80px;
    }

    .fotoAuto{
        padding: 0;
    }

    .formulario-item{
        grid-template-areas:
        "textoForm"
        "formulario";
        grid-template-columns: 1fr;
    }

    .textoFormulario h1{
        font-size: 40px;
    }

    .textoFormulario h2{
        font-size: 20px;
    }

    .formulario-container{
        padding-top: 40px;
    }

    .inputs{
        margin:0;
        padding-top:50px ;
    }
}

@media only screen and (max-width:841px){
    .titulos-container{
        font-size: 17px;
    }

    .consultaYa{
        font-size: 17px;
    }

    .porqueElegirnos-container{
        grid-template-areas:
        "tituloElegirnos"
        "textoElegirnos"
        "botonServicios"
        "imgElegirnos";
        grid-template-columns: 1fr;
        padding-left: 80px;
    }
}

@media only screen and (max-width:800px){
    .ul-item{
        font-size: 17px;
    }
}

@media only screen and (max-width:760px){

    .body-container{
        padding-top: 0;
    }

    .titulos-container{
        font-size: 16px;
    }

    .consultaYa{
        font-size: 16px;
    }

    .nav-container{
        display: none;
    }

    .menu-lateral{
        display: block;
    }

    nav.menu-lateral{
        width: 100%;
        height: 50px;
        background-color:#fff ;    
        padding: 10px 0 10px 4px;
        position: fixed;
        top:0;
        left:0;
        overflow:hidden;
        transition: .5s;
        z-index: 1;
    }

    .logo-responsive{
        width: 150px;
    }
    
    nav.menu-lateral.expandir{
        height: 500px;
    }
    
    .btn-expandir{
        width: 100%;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }

    #btn-exp{
        font-size: 30px;
    }

    .l{
        padding-left: 87px;
    }
    
    .btn-expandir > i{
        color:var(--tema);
        font-size: 24px;
        cursor: pointer;
    }

    ul{
        height: 100%;
        list-style-type: none;
        padding: 0px 0 50px 0px;
    }
    
    ul li.item-menu{
        transition: .2s;
    }
    
    ul li.activo{
        background-color:var(--tema);
    }
    
    ul li.item-menu:hover{
        background-color:var(--tema);
    }
    
    ul li.item-menu a{
        color:var(--tema);
        text-decoration:none;
        font-size: 16px;
        padding: 20px 4%;
        display: flex;
        margin-bottom:20px;
        line-height: 40px;
    }

    ul li.item-menu a:hover{
        color:#fff
    }
    
    ul li.item-menu a .txt-link{
        margin-left: 0px;
        transition: 1s;
    }
    
    ul li.item-menu a .icon > i{
        font-size: 20px;
        color:var(--tema)
    }

    .titulos-container h1{
        margin-bottom: 100px;
    }

}

@media only screen and (max-width:618px){
    .footer-container{
        padding: 30px 10px 30px 10px;
    }

    .sloganLogo2{
        font-size: 15px;
    }

    .iconNum{
        font-size: 14px;
    }

    .iconsTelefono{
        width: 20px;
        height: 20px;
    }

    .iconEmail{
        font-size: 12px;
    }

    .iconsEmail{
        width: 20px;
        height: 20px;
    }

    .iconLinkedin{
        font-size: 14px;
    }

    .iconsLinkedin{
        width: 20px;
        height: 20px;
    }

    .iconLocation{
        font-size: 14px;
    }

    .iconsLocation{
        width: 20px;
        height: 20px;
    }

    .footerBottom{
        font-size: 12px;
        padding: 2px;
    }

    .servicios-asesoramiento-responsive p{
        padding: 10px 0 0 0
    }

    .servicios-acuerdos-responsive p{
        padding: 10px 0 0 0
    }

    .servicios-mediacion-responsive p{
        padding: 10px 0 0 0
    }

    .servicios-procesoJudicial-responsive p{
        padding: 10px 0 0 0
    }

    .tituloServicios{
        font-size: 17px;
    }
}

@media only screen and (max-width:580px){
    .nosotros-container{
        padding: 50px 20px 50px 20px;
    }

    .porqueElegirnos-container{
        padding: 50px 20px 50px 20px;
    }

    .consultaYa{
        padding: 20px;
        font-size: 22px;
    }
}

@media only screen and (max-widtH:532px){
    .footer-container{
        padding: 30px 10px 30px 0px;
    }

    .grid-area2{
        margin-left: 10%;
    }
}

@media only screen and (max-width:480px){
    .grid-area2{
        margin-left: 5%;
    }

    .sloganLogo2{
        font-size: 12px;
    }

    .subtituloSlogan{
        font-size: 12px;
    }

    #nombre{
        width: 300px;
    }

    #numeros{
        width: 300px;
    }

    #email{
        width: 300px;
    }

    #mensaje{
        width: 300px;
    }
}
